@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

.class1{
    background-color: red;
}

.cbp-hrmenu > ul > li {
    display: inline-block;
    
}

.cbp-hrmenu > ul > li > a {
    text-decoration: none;
}

.prueba1{    
     background-color: yellow;
}

h1 {
    font-family: Proximanova Bold,Helvetica,Arial,sans-serif;
}

p {
    font-family: Proximanova Regular,Helvetica,Arial,sans-serif;
}

nav {
    color: #006600;
}

nav ul{
    text-align: center;
    
}

nav > .list > ul > li > a {
    text-decoration: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    display: inline-block;
    font-size: 12px;
    padding: 0px 25px;
    color: #383838;
}

nav > .list > ul > li > a > p {
    text-transform: uppercase;
    color: #383838;
}

nav > .list > ul > li {
    display: inline-block;
}

nav .list ul li:first-child a{
    padding-left: 0;
}

nav > .list > h1 {
    text-align: center;
    font-size: 100%;
}