@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";

h1 {
    font-family: Proximanova Bold,Helvetica,Arial,sans-serif;
}

p {
    font-family: Proximanova Bold,Helvetica,Arial,sans-serif;
}

nav {
    color: rgb(0,0,0);
}

nav ul{
    text-align: center;
    padding: 5px 0;
}

nav > .list > ul > li > a {
    text-decoration: none;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    display: inline-block;
    font-size: 12px;
    padding: 0px 25px;
    color: rgb(0,0,0);
}

nav > .list > ul > li > a.bold {
    font-weight: bold;
}

nav > .list > ul > li > a > p {
    text-transform: uppercase;
    color: rgb(0,0,0);
}

nav > .list > ul > li {
    display: inline-block;
}

nav .list ul li:first-child a{
    padding-left: 0;
}

nav > .list > h1 {
    text-align: center;
    font-size: 100%;
}

p.active {
    //border-bottom: 2px solid #ecf0f1;
    border: medium solid;
}

.list.fixed{
    left: 0;
    position: fixed;
    top: 0;
}
.list.fixed.light{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

section div {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

section div p {
    text-align: justify;
}
